.smart-form .icon-append, .smart-form .icon-prepend {
    color: #a2a2a2;
    padding-right: 15px;
}
.smart-form .input .icon-prepend + input, .smart-form .textarea .icon-prepend + textarea {
    padding-left: 50px;
}
